.vscode
.DS_Store
*.o
*.class
*~
*.old
*.log
*.mold
*.pyc
*.bak
*.csv
*.out
tmp/
mold/
tests/
Java/*.daa
Java/*.xyz
Java/*.conf
C++/*.daa
C++/*.xyz
C++/*.conf
C++/DaidalusExample
C++/DaidalusAlerting
C++/DaidalusBatch
