.vscode
.DS_Store
*.o
*.class
*~
*.old
*.log
*.mold
*.pyc
*.bak
*.csv
*.out
*.txt
*.draw
tmp/
mold/
tests/
Java/*.daa
Java/*.xyz
Java/*.conf
Java/*.pdf
C++/*.daa
C++/*.xyz
C++/*.conf
C++/*.pdf
C++/DaidalusExample
C++/DaidalusAlerting
C++/DaidalusBatch
